<!DOCTYPE html><% /*
There are two layouts in hostedpersona.me
1) The layout baked into /authentication used in Persona login
2) This layout for the rest of the "accounts" website
*/ %><html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="accounts">
<div id="page">
  <p><a href="/logout">Logout</a>
  <div id="content">
    <% /* zOMG expressjs 3 and EJS missing feature ?!?
          TODO: Fix this - revert to expressjs 2, switch to jade, or ...?
    */ %>
    <% if (content == 'pages/homepage') { %>
         <% include pages/homepage %>
    <% } else if (content == 'pages/register') { %>
         <% include pages/register %>
    <% } else if (content == 'pages/account_login') { %>
         <% include pages/account_login %>
    <% } else if (content == 'pages/accounts') { %>
         <% include pages/accounts %>
    <% } else { %>
         Unknown Template: <%= content %>
    <% } %>
  </div>
</div>
</body>
</html>