<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hosted Persona - Log In</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="auth">
<div id="page">
  <div id="content">
    <form action="/auth" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrf_token %>" />
      <fieldset id="emailfield">
        <label for="email">Email</label><input type="email" id="email" name="email" value="" xdisabled="true" />
      </fieldset>
      <fieldset>
        <label for="password">Password</label><input type="password" id="password" name="password" value="" />
      </fieldset>
      <fieldset class="buttons">
        <button>Sign In</button>
        <button id="cancelbtn">Cancel</button>
      </fieldset>
    </form>
  </div>
</div>
<script type="text/javascript" src="<%= browserid_server %>/authentication_api.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
function enableForm () {
  $('input, button').removeAttr('disabled');
}
function disableForm () {
  $('input, button').attr('disabled', 'true');
}
function replaceEmail(email, imgUrl) {
  $('#emailfield').html('<div class="avatar"><img src="' + imgUrl + '" width="128" height="128" />' + email + '</div>');
}
$('form').submit(function (e) {
  e.preventDefault();
  disableForm();
  $.ajax({
    type: 'POST',
    url: '/auth',
    data: {
      email: $('[name=email]').val(),
      password: $('[name=password]').val(),
      "_csrf": "<%= csrf_token %>"
    },
    success: function (data, status, xhr) {
      navigator.id.completeAuthentication();
    },
    complete: function (xhr, status) {
      enableForm();
    }
  });
});
$('#cancelbtn').click(function (e) {
  e.preventDefault();
  navigator.id.raiseAuthenticationFailure("user canceled authentication");
});
navigator.id.beginAuthentication(function(email) {
  $('[name=email]').val(email);
  $.get('/avatar/' + encodeURIComponent(email), function (data) {
    replaceEmail(email, data);
  });
  $('[name=password]').focus();
});
</script>
</body>
</html>
