    <h1>Hosted Persona</h1>
    <p>Welcome!</p>
    <p>This site is operated by <a href="http://ozten.com">Ozten</a> for
        hosting his and other pals <a href="https://login.persona.org">Persona identities</a>.</p>
    <p>Want me to take care of hosting identities for your domain?
      <a href="/register">Register</a> or <a href="/account">Sign In</a>
    </p>